{% extends 'base.html.twig' %}

{% block title %}Création de sites et de projets web sur mesure {% endblock %}

{% block content %}
<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container" style="overflow-x: hidden">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="h1-large" data-aos="fade-left" data-aos-duration="3000">Conception web <br>sur mesure</h1>
                    <a class="btn-solid-lg" href="#services" data-aos="fade-right" data-aos-duration="3000">Découvrir</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->

    <!-- Video Background -->
    <video autoplay loop muted id="video-background" poster="{{ asset('build/header-background.jpg') }}" playsinline>
        <source src="{{  asset('build/video_background_1920x1080.mp4') }}" type="video/mp4"/>
    </video>
    <!-- end of video background -->

</header> <!-- end of header -->
<!-- end of header -->


<!-- Services -->
<div id="services" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up">
                <h2 class="h2-heading">Création, hébergement et maintenance de votre site web</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row mt-5">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card" data-aos="fade-up">
                    <div class="card-icon">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Création de votre site</h4>
                        <div class="card-text">
                            Conception de votre site web avec des technologies modernes
                        </div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card" data-aos="fade-up">
                    <div class="card-icon">
                        <i class="fas fa-server"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Hébergement</h4>
                        <div class="card-text">
                            Hébergement dédié avec une garantie de disponibilité de votre site web à 99.9%
                        </div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card" data-aos="fade-up">
                    <div class="card-icon">
                        <i class="fas fa-globe"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Domaine</h4>
                        <div class="card-text">Un ou plusieurs noms de domaine pour votre site en .be .com ou autre</div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card" data-aos="fade-up">
                    <div class="card-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">E-Mail</h4>
                        <div class="card-text">Création d'adresses e-mail personnalisées</div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card" data-aos="fade-up">
                    <div class="card-icon">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Sauvegarde et sécurité</h4>
                        <div class="card-text">
                            Sécurisation des pages et sauvegarde de votre site
                        </div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card" data-aos="fade-up">
                    <div class="card-icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Analytique</h4>
                        <div class="card-text">
                            Intégration d'outils d'analyse du traffic <br><span class="analytics-bold">protégeant vos données et la vie privée de vos clients</span>
                        </div>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->



    <!-- Testimonials -->
    <div id="testimonials" class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <p class="testimonial-text">"Le site Web réalisé par Xavier répond à 100% à ce que je souhaitais.<br> Il dépasse même mes espérances grâce aux pistes suggérées au fur et à mesure de la conception.
                                        Un travail soigné, rapide et professionnel réalisé par un webmaster créatif et à l'écoute”</p>
                                    <div class="testimonial-author">Françoise Evrard</div>
                                    <div class="testimonial-position">Directrice - Collège du Biéreau (LLN)</div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <p class="testimonial-text">“Le site que nous avons créé pour notre événement a été réalisé entièrement par Xavier de My Web Creation.
                                        Rapidité, précision, interactivité, créativité, ... Que demander de plus?
                                        Nous sommes ravis du service"</p>
                                    <div class="testimonial-author">Michel Hauchart</div>
                                    <div class="testimonial-position">Secrétaire d'entité - BW3</div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of testimonials -->


{% endblock %}
