{% extends 'base.html.twig' %}

{% block title %}Termes, conditions et vie privée {% endblock %}

{% block content %}
    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Conditions générales et vie privée</h1>
                </div>
                <div class="col-lg-4">
                    <div class="container terms">
                        <a href="#" onclick="divVisibility('cgv');"><i class="fas fa-arrow-circle-right"></i> Conditions générales de ventes</a><br />
                        <a href="#" onclick="divVisibility('privacy');"><i class="fas fa-arrow-circle-right"></i> Respect de la vie privée</a><br />
                        <a href="#" onclick="divVisibility('cookies');"><i class="fas fa-arrow-circle-right"></i> Modalités relatives aux cookies</a><br />
                    </div>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->

        <div id="cgv" class="ex-basic-1 pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">

                        <h3>Conditions générales de vente</h3>

                        <p class="modified-date"><strong>Dernière modification effectuée le: 25/10/2021</strong></p>

                        <h5 class="mb-3">1. Application</h5>
                        <p>Ces conditions générales (“Conditions Générales”) sont d’application pour tous les produits et services mentionnés dans les bons de commande. L’application d’éventuelles conditions générales utilisées par le commettant est explicitement exclue.</p>
                        <p>En cas de contradictions entre les dispositions de ces Conditions Générales et les dispositions mentionnées dans le bon de commande, les dispositions mentionnées dans le bon de commande prévaudront.</p>

                        <h5 class="mb-3">2. Définitions</h5>
                        <p>Les définitions des produits et services mentionnés dans le bon de commande sont disponibles sur le site Internet www.mywebcreation.be.</p>
                        <h5 class="mb-3">3. Commande</h5>
                        <p>Par la signature ou l’acceptation du présent bon de commande, le commettant conclut de manière définitive et irrévocable une convention avec My Web Creation (“MWC“), ayant son siège social au 45 Rue des Tilleuls 1435 Hévillers, enregistré auprès de la Banque Carrefour des Entreprises sous le numéro 0774.894.891. L’application de l’article 1794 du Code Civil est explicitement exclue.</p>
                        <p>Bien que MWC n’y est en aucune façon légalement tenue, elle donne à ses commettants le droit de résilier leur convention avec MWC dans un délai de 2 jours ouvrables suivant la signature du bon de commande.</p>
                        <p>MWC se réserve, en toutes circonstances, le droit de procéder à l’annulation de tout ou partie de la commande pour cause de contrariété à l’ordre public ou aux bonnes mœurs, à toute disposition légale ou réglementaire, ou à sa politique commerciale générale ou à celle de ses partenaires. MWC se réserve également le droit, ce sans préjudice de son droit d’exiger le paiement intégral de la commande, de ne pas exécuter la commande ou de ne l’exécuter que partiellement en cas d’absence de paiement intégral d’une quelconque facture à l’échéance fixée ou en cas de faillite ou d’insolvabilité notoire du commettant. MWC se réserve, en toutes circonstances, le droit d’exiger un paiement préalable de la commande ou d’une partie de celle-ci.</p>
                        <p>MWC peut, à tout moment et pour quelque motif que ce soit, attribuer un nouveau numéro de contrat à la convention existante, scinder la convention existante en plusieurs conventions distinctes par produit commandé ou joindre la convention existante à d’autres conventions sans que cela ne puisse porter atteinte aux obligations des parties.</p>
                        <p>Si, après la conclusion d’une convention (initiale), une nouvelle convention relative aux produits commandés dans la convention initiale est conclue, la nouvelle convention remplacera la convention initiale pour ce qui concerne les produits mentionnés dans la nouvelle convention. La nouvelle convention ne porte toutefois pas préjudice à la convention initiale pour ce qui concerne les produits qui ne sont pas repris dans la nouvelle convention.</p>
                        <p>Le signataire qui passe commande, que ce soit en son nom propre ou en sa qualité de mandataire, ou la personne qui paie tout ou partie de la commande, même pour le compte de tiers, se porte fort pour ces tiers et s’engage solidairement et de manière indivisible avec ceux-ci, conformément aux articles 1120 et suivants et 1200 et suivants du C. Civ.</p>
                        <h5 class="mb-3">4. Prix</h5>
                        <p>Tous les prix et estimations de frais sont exprimés hors TVA, sauf stipulation contraire. Le commettant reconnaît et accepte que MWC se réserve le droit d’augmenter unilatéralement le prix des produits et des services commandés, à une fréquence annuelle et par produit (en tenant compte de l’indice des prix à la consommation), sans que le commettant aura le droit de terminer la convention.</p>
                        <h5 class="mb-3">5. Modifications</h5>
                        <p>Toute demande du commettant en vue de modifier le contenu des produits ou services commandés doit être communiquée à MWC par écrit.</p>
                        <p>Les modifications ne portent pas préjudice à la présente convention. Si les modifications ont des conséquences financières ou qualitatives, MWC pourra mettre ces frais à la charge du commettant. MWC en informera toutefois préalablement le commettant.</p>
                        <h5 class="mb-3">6. Commencement et Durée</h5>
                        <p>La convention prend cours à la date de la signature du bon de commande.</p>
                        <p>Le terme initial d’une convention est toujours mentionné sur le bon de commande.</p>
                        <h5 class="mb-3">7. Prolongation et Résiliation</h5>
                        <p>Après expiration du terme initial, la convention sera prolongée chaque fois pour une durée égale à la période initialement convenue, sauf résiliation écrite de la convention au plus tard 3 mois avant la date à laquelle la convention sera prolongée.</p>
                        <p>En outre, si exclusivement dû à MWC, le produit publié en ligne du client est hors ligne plus d’un mois, MWC accorde au commettant le droit de résilier immédiatement sa convention relative au produit concerné (ainsi que les produits/services qui sont indissociables de ce produit).</p>
                        <p>MWC a également le droit de résilier ou de mettre fin à la convention avec effet immédiat et sans devoir payer une indemnité: (a) en cas de faillite du commettant, ainsi qu’en cas de dissolution ou de liquidation du commettant, (b) en cas de saisie conservatoire ou exécutoire des biens mobiliers ou immobiliers du commettant, (c) en cas de défaut ou de non-respect par le commettant de l’une des dispositions des Conditions Générales ou des termes de la convention, après une mise en demeure assortie d’un délai de régularisation de quinze (15) jours calendrier, (d) en cas d’indication sérieuse de fraude et/ou d’utilisation frauduleuse ou délictueuse des services et/ou produits de MWC et (e) en cas de force majeure si la convention ne peut plus être exécutée correctement.</p>
                        <h5 class="mb-3">8. Exécution de la Convention</h5>
                        <p>Le commettant accepte que MWC puisse faire appel à des tiers pour l’exécution de la convention.</p>
                        <p>Les parties reconnaissent expressément que MWC et ses partenaires souscrivent uniquement à une obligation de moyen et non à une obligation de résultat.</p>
                        <p>Le commettant reconnaît qu’il a une obligation de collaboration essentielle afin de réaliser la commande, comme entre autre la fourniture de contenu et des données pour publication. Si les données ou remarques exigées pour l’exécution de la convention ne sont pas, tardivement et/ou que partiellement communiquées à MWC, MWC est en droit de, sans
                            avertissement préalable et à l’exclusion de tout droit à dédommagement du commettant, procéder à l’exécution de la commande sur base des éléments en sa possession.</p>
                        <p>Si, dans un délai de 15 jours et après mise en demeure, le commettant ne réagit pas ou insuffisamment sur la demande de fourniture de contenu et des données afin de créer son produit, MWC peut constater l’impossibilité d’exécution et la résolution extrajudiciaire de la convention, sans préjudice cependant de la possibilité d’exiger l’exécution de la convention.</p>
                        <p>Dans ce cas, le commettant sera dû un montant forfaitaire équivalent à 50% du montant total qu’il est encore dû selon la convention, à titre d’indemnisation du préjudice subi par MWC, sans préjudice cependant de la possibilité de la part de MWC de démontrer son préjudice et ses coûts réels et de réclamer remboursement pour cela.</p>
                        <p>MWC se réserve expressément le droit de changer à tout moment et unilatéralement le classement des rubriques, la mise en page, le format, la couleur, les images, le lay-out et les informations de “targeting” des produits qu’elle offre et le type d’annonces ainsi que les rubriques et le type de caractères utilisés dans les produits susmentionnés. De telles modifications ne pourront en aucun cas être considérées comme étant des modifications de l’objet ou de la portée de la convention existant entre les parties, qui restera entièrement applicable.</p>
                        <p>MWC se réserve le droit d’apporter elle-même, en tout temps, les changements nécessaires ou utiles aux produits qu’elle a développés.</p>
                        <h5 class="mb-3">9. Garantie</h5>
                        <p>Le commettant devra, sans réserve, garantir MWC contre toute demande de tiers en lien avec les produits ou services de MWC commandés par le commettant, en ce compris toute revendication concernant des droits de propriété intellectuelle et toute demande concernant les produits vendu par le commettant via un site internet développé par MWC. Le commettant garantit MWC contre tout dommage direct ou indirect qui aurait été occasionné par ses actes ou en raison des données qu’il a fournies à MWC.</p>
                        <h5 class="mb-3">10. Facturation</h5>
                        <p>Une facture sera transmise au commettant 7 jours ouvrables après signature/approbation de son bon de commande/de sa convention. La facture doit toujours être payée au plus tard le vingt-cinquième jour suivant la date de facturation, à moins que la facture n’en dispose autrement. MWC se réserve toutefois toujours le droit de modifier la date ainsi que la fréquence de facturation.</p>
                        <p>En cas de retard de paiement et sans aucune autre mise en demeure ultérieure, un intérêt de retard de 1% par mois sera dû, ainsi qu’un coût fixe de 12,50 EUR à titre de frais administratifs. En outre, dans un tel cas, le montant de la facture exigible sera augmenté de 15%, avec un minimum de 50 EUR, afin de compenser les coûts administratifs et autres frais causés par le défaut de paiement. MWC se réserve le droit d’imputer tout paiement par priorité sur les factures précédemment non payées. En aucun cas des représentants ne peuvent recevoir de paiements en espèces.</p>
                        <p>Si le commettant n’a pas intégralement payé une ou plusieurs factures dans un délai de 45 jours après la date de facturation, MWC a également le droit d’immédiatement exiger la totalité du montant dû. Outres les factures déjà reçues, le commettant devra donc également payer la facture de solde que MWC lui enverra. Cette facture de solde mentionne le solde dû sous les termes de la convention, augmenté avec les intérêts et frais dus, et devra être
                            payée dans un délai de 10 jours après la date de facturation. Les produits/services achetés seront encore livrés/fournis jusqu’à l’expiration de la convention.</p>
                        <p>En cas de faillite, de dissolution ou de liquidation du commettant, si le commettant est impliqué dans une procédure de réorganisation judiciaire ou en cas de saisie conservatoire ou exécutoire des biens mobiliers ou immobiliers du commettant, tous les montants deviendront immédiatement exigibles, sans qu’une autre mise en demeure ou notification ne soit nécessaire.</p>
                        <p>Si le commettant pense avoir une créance à faire valoir à l’égard de MWC, cela ne le libère pas de son obligation de payer selon les modalités convenues contractuellement et il ne peut ni suspendre ni compenser son obligation de paiement.</p>
                        <h5 class="mb-3">11. Confidentialité et Traitement de Données à Caractère Personnel</h5>
                        <p>Les parties ont l’interdiction de divulguer toute information confidentielle qu’elles ont obtenue l’une de l’autre dans le cadre de la convention ou d’autres sources. Les données personnelles renseignées dans la convention ou reçues d’une autre manière seront traitées conformément aux dispositions du Règlement 2016/679 du Parlement Européen et du Conseil du 27 avril 2016 à propos de la protection des personnes physiques à l’égard du traitement des données personnelles et sur la libre circulation de ces données et abrogeant la Directive 95/46/EG (ci-après « Règlement Général sur la Protection des Données » et abrégée RGPD). MWC agit par la présente comme responsable du traitement et traitera les données personnelles conformément aux principes et dispositions du RGPD qui incombent au responsable du traitement. Vous pouvez retrouver notamment dans la politique de protection de la vie privée de MWC (https://www.mywebcreation.be/politique-de-protection- de-la-vie-privee/) : un aperçu des catégories des données personnelles traitées par MWC en tant que responsable du traitement et les fins de ces traitements, ainsi que la manière dont les personnes physiques peuvent exercer leurs droits par rapport au RGPD.</p>
                        <p>MWC se réserve le droit de communiquer les données du commettant aux partenaires commerciaux de MWC et d’utiliser le nom du commettant dans sa publicité et comme référence et de le publier comme tel pendant l’exécution de la convention.</p>
                        <h5 class="mb-3">12. Propriété Intellectuelle</h5>
                        <p>MWC détient tous les droits de propriété intellectuelle et tous les autres droits relatifs aux produits et services qu’elle fournit, ainsi qu’à leurs composants. Le commettant reconnaît ces droits et ne les enfreindra pas. Le commettant garantit qu’il dispose des droits d’utilisation et de propriété nécessaires en rapport avec le contenu qu’il fournit lui-même ou transfère à MWC, et concède une licence gratuite à MWC afin de les utiliser et de les éditer. Si des photos, des images ou de la musique fournies par le commettant ou MWC, utilisés dans un produit ou un service de MWC, violent les droits de propriété intellectuelle d’un tiers, MWC se réserve le droit de supprimer ou de modifier les photos, les images ou la musique concernées, afin de mettre un terme à ladite violation. MWC n’accepte aucune responsabilité pour les photos, les images ou la musique fournies par le commettant.</p>
                        <h5 class="mb-3">13. Communication et Rapportage</h5>
                        <p>MWC se réserve le droit d’enregistrer la convention, ses annexes ainsi que la correspondance qui lui est adressée ou qu’elle adresse sur tout support électronique quelconque et par tout procédé quelconque, et de conserver celles-ci exclusivement sur lesdits supports. A défaut de preuve contraire à charge du commettant, ces copies sur support électronique ainsi réalisées, ainsi que les impressions de ces copies, seront
                            présumées conformes aux documents originaux et auront une force probante identique à ceux-ci. A moins que le commettant ne s’y soit opposé, MWC se réserve également le droit d’enregistrer, à des fins probatoires, les commandes téléphoniques sur tout support électronique quelconque.</p>
                        <h5 class="mb-3">14. Plaintes</h5>
                        <p>Les plaintes éventuelles concernant l’exécution de la convention doivent être déposées par écrit sous peine de déchéance au plus tard 60 jours calendrier après la fourniture du service ou de la publication ou l’insertion dans le produit concerné de MWC. Si le commettant n’est pas d’accord avec le traitement de sa plainte par MWC, il peut déposer sa plainte auprès du Service de Médiation pour les Télécommunications, Boulevard Roi Albert II 8 boîte 3, 1000 Bruxelles. Le dépôt d’une plainte n’affecte pas les autres obligations du commettant.</p>
                        <h5 class="mb-3">15. Responsabilité</h5>
                        <p>Seul le commettant est responsable en toutes circonstances (i) du contenu des sites Internet qui sont développés à sa demande par MWC et/ou qui peuvent être consultés via son annonce sur un des sites Internet de MWC ou de ses partenaires et (ii) de respecter la législation, la réglementation, les dispositions réglementaires, les codes de déontologie, etc. applicables. Si le commettant constate l’existence de contenu illégal, nuisible ou indésirable, il doit immédiatement en informer MWC. Si le contenu en question se trouve sur ses sites Internet, MWC le supprimera aussi rapidement que possible. La responsabilité de MWC se limite toutefois à la suppression du contenu après la notification par le commettant ou par un tiers.</p>
                        <p>Si le commettant utilise le Module e-commerce, il sera seul responsable de la qualité et de la livraison des produits, et de la conformité aux lois applicables, en ce compris les dispositions légales concernant la protection du consommateur et la vente à distance. MWC ne peut être tenu responsable par le commettant s’il n’est temporairement pas possible de placer de commandes en raison d’un problème technique ou autre au Module e-commerce.</p>
                        <p>MWC est responsable de la mauvaise exécution de la convention seulement si et dans la mesure où celle-ci découle directement de son dol ou sa négligence grave. MWC ne peut pas être tenu responsable pour l’indisponibilité temporaire des produits/services qu’elle offre.</p>
                        <p>MWC n’est en aucun cas responsable des conséquences de la force majeure, des dommages par répercussion, des dommages indirects, des pertes d’exploitation, de la perte de profit ou des dommages causés par le commettant, les assistants et/ou de tiers auxquels il a été fait appel pour l’exécution de la convention.</p>
                        <p>MWC ne peut être tenue responsable pour les textes, images, musique ou autres données fournis par le commettant ou pour l’utilisation non autorisée de ceux-ci.</p>
                        <p>Lorsque des produits sont vendus via un site internet développé par MWC, MWC ne sera pas partie au contrat de vente et MWC ne pourra être tenu responsable au cas où l’une des parties au contrat de vente ne respecte pas ses obligations. Seul le commettant pourra être tenu responsable des dommages liés aux produits ou causés par les produits. En aucun cas MWC ne peut être tenu responsable du défaut ou du retard de livraison des produits, ou de tout dommage aux produits ou causé par les produits. MWC ne peut être tenu responsable des problèmes liés à la commande ou au paiement des produits.</p>
                        <p>Si MWC devait manquer à ses obligations contractuelles et être tenue responsable des dommages que le commettant subirait à la suite de ce manquement, cette responsabilité
                            sera en tous les cas limitée au maximum de la valeur de la facture (sur une période de 12 mois) de cette partie spécifique de la convention qui a trait à la responsabilité.</p>
                        <p>Les dommages pour lesquels MWC est tenue responsable en vertu du paragraphe précédent ne seront pris en considération que si le commettant les a notifiés endéans les quatorze (14) jours calendrier après leur survenance, à moins que le commettant ne prouve qu’il n’a pas raisonnablement pu notifier ces dommages plus tôt.</p>
                        <h5 class="mb-3">16. Droit applicable et choix de juridiction</h5>
                        <p>La convention est régie par le droit belge. Seuls les tribunaux de l’arrondissement judiciaire de Nivelles sont compétents pour traiter des litiges qui découlent de la convention. Néanmoins, MWC se réserve le droit d’opter librement pour le Tribunal du domicile ou du siège social du commettant.</p>
                        <h5 class="mb-3">17. Dispositions finales</h5>
                        <p>Aucune partie n’a le droit de transférer les droits et obligations qui découlent de la convention sans le consentement écrit de l’autre partie.</p>
                        <p>Les modifications ou ajouts faits à la convention conclue entre MWC et le commettant ne sont valables que dans la mesure où ils ont été convenus par écrit entre les parties.</p>
                        <p>MWC se réserve le droit, sous réserve de la notification d’un préavis écrit, de modifier unilatéralement les Conditions Générales. Les Conditions Générales modifiées seront applicables deux (2) semaines après la notification, à moins que le commettant ne s’y oppose par écrit dans les sept (7) jours calendrier de la notification. Dans ce cas, les Conditions Générales existantes restent d’application jusqu’à la fin du terme en cours.</p>
                        <p>Si une disposition contenue dans le bon de commande ou dans les Conditions Générales est déclarée nulle, la validité de l’ensemble de la convention ou des Conditions Générales ne sera pas affectée. Dans ce cas, MWC a le droit de remplacer la disposition frappée de nullité par une disposition valide qui se rapproche le plus possible de la disposition déclarée nulle.</p>

                        <h3 class="mt-5">CONDITIONS PARTICULIÈRES</h3>

                        <p class="modified-date"><strong>Dernière modification effectuée le: 25/10/2021</strong></p>

                        <p>Les présentes conditions particulières complètent les conditions générales de MWC qui restent intégralement d’application, sauf pour les dispositions qui seraient incompatibles avec les présentes conditions particulières.</p>

                        <h4 class="mt-5 mb-5">L’enregistrement et/ou la gestion du nom de domaine</h4>
                        <h5 class="mb-3">1. Enregistrement</h5>
                        <p>Le commettant demande à MWC d’enregistrer le nom de domaine mentionné pendant l’entrevue initiale. MWC enregistrera, à la demande du commettant, le nom de domaine selon les conditions imposées par l’agent officiel.</p>
                        <p>Après l’enregistrement, le commettant sera le propriétaire exclusif du nom de domaine. L’enregistrement est valable pour la durée d’un an à partir de la date de l’enregistrement, et sera renouvelé chaque année, sauf si ce service est résilié en temps utile par le commettant.</p>
                        <p>MWC ne peut en aucun cas être tenu responsable de l’enregistrement du nom de domaine par un tiers, lorsque celui-ci redevient disponible suite à une non-prolongation du nom de domaine.</p>
                        <p>Le commettant marque expressément son accord sur l’enregistrement du nom de domaine. Le commettant déclare explicitement qu’il dispose des droits nécessaires pour l’enregistrement du nom de domaine et garantit par ailleurs que le nom de domaine n’enfreint aucun droit de propriété intellectuelle ni d’autres droits de tiers.</p>
                        <p>Le commettant immunise MWC contre toute action éventuelle émanant de tiers en raison d’infraction directe ou indirecte à leurs droits de propriété intellectuelle ou d’autres intérêts qui se rapportent au nom de domaine enregistré par MWC. En outre, le commettant déclare explicitement de prendre intégralement à son compte les frais de procédure éventuels aux- quels s’exposerait MWC suite à un enregistrement illicite du nom de domaine, ou suite à une infraction éventuelle à des droits de propriété intellectuelle ou autres.</p>
                        <h5 class="mb-3">2. Gestion</h5>
                        <p>La gestion d’un nom de domaine est transférée à MWC à la demande du commettant, pour autant que le propriétaire du nom de domaine y consente. MWC ne peut être tenu responsable du fait que le transfert du nom de domaine s’avère impossible ou qu’il ne peut être exécuté que tardivement ou avec retard. Par conséquent, dans ces derniers cas, le commettant ne pourra pas réclamer le remboursement des frais qui lui auront été facturés.</p>
                        <p>Le commettant s’engage à utiliser son nom de domaine conformément à toutes les dispositions légales et toutes les réglementations en vigueur, et à ne pas s’adonner à des pratiques illégales, frauduleuses ou punissables de quelque nature que ce soit, qui seraient susceptibles de porter atteinte ou préjudice aux droits de tiers. Ceci implique que le commettant doit, entres autres et en fonction de l’extension de son nom de domaine, respecter les conditions d’utilisations suivantes (ainsi que des actualisations éventuelles de celles-ci):<br>
                            nom de domaine ‘.be’: <a href="https://www.dnsbelgium.be/fr/conditions-generales-des-noms-de-domaine-be" target="_blank">https://www.dnsbelgium.be/fr/conditions-generales-des-noms-de-domaine-be</a><br>
                            nom de domaine ‘.com’: <a href="https://www.icann.org/resources/pages/registrars-2012-02-25-fr" target="_blank">https://www.icann.org/resources/pages/registrars-2012-02-25-fr</a><br>
                            nom de domaine ‘.eu’: <a href="https://eurid.eu/fr/other-information/documents/" target="_blank">https://eurid.eu/fr/other-information/documents/</a></p>
                        <p>MWC a le droit d’interrompre immédiatement (et sans préavis) son service au commettant et ce, sans obligation d’indemnisation, si le commettant ne respecte pas les obligations ci- dessus.</p>
                        <p>Le commettant immunise MWC contre toute action émanant de tiers en raison d’infraction directe ou indirecte de leurs droits ou intérêts résultant de l’utilisation par le commettant du nom de domaine. Le commettant déclare en outre explicitement de prendre intégralement à son compte les frais de procédure éventuels auxquels s’exposerait MWC suite à une utilisation illicite du nom de domaine.</p>

                    </div>
                </div>
            </div>
        </div>

        <div id="privacy" class="ex-basic-1 pt-5 pb-5" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">

                        <h3>Règles de respect de la vie privée</h3>

                        <p class="modified-date"><strong>Dernière modification effectuée le: 25/10/2021</strong></p>

                        <p>A l’heure où le numérique prend une place extrêmement conséquente dans la vie de tout un chacun, il est essentiel de prserver les droits légitimes des utilisateurs des outils numériques mis à leurs disposition.
                            C’est pourquoi My Web Creation apporte une importance capitale à la protection des données de ses clients. Vous pouvez consulter ci-dessous les détails de notre déclaration de protection des données à caractère privés qui nous sont transmis.</p>
                        <h4>1. Définitions</h4>
                        <p>Les définitions suivantes vous aideront à mieux comprendre la Politique de confidentialité :</p>
                        <p>“Nous”, “notre” renvoie à
                        My Web Creation, ou “MWC”<br/>
                            45 Rue des Tilleuls, 1435 Hévillers 0774.894.891</p>
                            <p>https://www.mywebcreation.be info@mywebcreation.be</p>
                        <p>“Vous”, “votre” fait référence à un visiteur du site, un candidat, un client ou un client potentiel ;</p>
                        <p>“Données personnelles” renvoie à toutes les informations qui vous identifient (directement ou indirectement) comme un individu;</p>
                        <h4>2. Quel est le champ d’application de cette Politique de confidentialité ?</h4>
                        <p>Cette Déclaration de confidentialité est d’application sur toutes les données personnelles des visiteurs des sites, candidats, clients ou potentiels clients qui sont collectées et utilisées par MWC. Il s’agit notamment d’informations que MWC collecte via ses sites, que nos clients (potentiels) nous transmettent spontanément.</p>
                        <p>Cette Déclaration de confidentialité a été rédigée et est mise à jour dans le respect des dispositions et exigences de la règlementation sur la vie privée, la Règlementation générale sur la Protection des Données (RGPD en français et GDPR en anglais). En d’autres termes, MWC traite les données personnelles dans le respect des principes prévus dans le RGPD.</p>

                        <h4>3. Qui est responsable de vos données personnelles ?</h4>
                        <p>My Web Creation, 45 Rue des Tilleuls est responsables du traitement de vos données personnelles.</p>
                        <h4>4. Quelles sont les données que nous collectons à votre sujet et dans quel but ?</h4>
                        <h5>4.1 Traitement des données personnelles pour les demandes de devis.</h5>
                        <p>Vous pouvez demander un devis pour nos services et produits par le biais d’un formulaire de contact, tant sur notre propre site web www.mywebcreation.be que sur les sites web de nos partenaires. Afin de vous enregistrer dans nos systèmes et de pouvoir vous recontacter en vue du devis demandé, nous traitons les données personnelles suivantes : nom et prénom, adresse, adresse e-mail, numéro de téléphone et toute information personnelle supplémentaire que vous pourriez fournir.</p>
                        <h5>4.2 Traitement des données personnelles via le reporting.</h5>
                        <p>MWC utilise vos données afin de réaliser des rapports et des analyses dans le but d’obtenir des informations sur ses services et sur la manière d’améliorer son travail. À cette fin, nous traiterons les données personnelles suivantes : nom et prénom, adresse, adresse e-mail, numéro de téléphone, données financières et informations relatives aux services que vous utilisez chez MWC ou qui vous intéressent. Le traitement de ces données pour améliorer nos services et notre offre est justifié en raison de l’intérêt légitime de MWC à améliorer ces services.</p>
                        <h5>4.3 Traitement des données personnelles dans le cadre de l’exécution d’un contrat.</h5>
                        <p>Si vous avez acheté un service payant chez nous, nous avons besoin de vos informations personnelles pour enregistrer, traiter, mettre en ligne et facturer votre commande. Ces données personnelles sont le nom et le prénom, l’adresse e-mail, l’adresse de la société, l’adresse de facturation, les détails de paiement et le numéro de compte bancaire et parfois votre numéro de téléphone ou de portable. Le traitement de ces données personnelles est légitime en raison du contrat que vous avez conclu avec MWC.</p>

                        <h5>4.4 Traitement des données personnelles à des fins promotionnelles pour MWC</h5>
                        <p>Sous réserve de votre consentement explicite, MWC peut utiliser les données personnelles suivantes à des fins de promotion de l’entreprise (par exemple, par le biais de témoignages, de photos, de vidéos, de citations, etc.) : nom et prénom, adresse, numéro de téléphone, courriel, photo, vidéo. À tout moment, vous pouvez révoquer cette autorisation.</p>
                        <h5>4.5 Traitement des données personnelles pour répondre à des obligations légales.</h5>
                        <p>MWC traite aussi des données personnelles afin de se conformer aux lois et règlements qui lui sont applicables. Il s’agit notamment de la règlementation concernant la compatibilité et les impôts, de la législation sur le travail... Il est possible que, pour respecter ces dispositions légales, vos données personnelles soient partagées avec certaines autorités.</p>
                        <h4>5. Protection de vos données personnelles.</h4>
                        <p>Nous reconnaissons qu’il est de notre responsabilité d’assurer un niveau de sécurité approprié pour les informations que vous nous confiez. MWC a également pris diverses dispositions pour protéger vos données personnelles contre la perte, l’abus ou l’accès, la divulgation, l’altération ou la destruction non autorisés. Les mesures organisationnelles comprennent un accès limité aux bâtiments, systèmes et fichiers et leur surveillance, ainsi que des mesures techniques, notamment des pare-feu, une protection par mots de passe et authentification personnels, de même que des exigences d’authentification pour l’accès aux données personnelles selon le principe du « need to know ».</p>
                        <p>Nous attendons également de nos sous-traitants qu’ils soient en mesure de garantir un niveau de sécurité approprié lors du traitement des données personnelles pour MWC.</p>
                        <h4>6. Combien de temps conservons-nous vos données ?</h4>

                        <p>MWC dispose d’une politique concernant la conservation des données personnelles. Nous veillons à ce qu’elles soient conservées de manière sûre et qu’elles ne soient pas conservées plus longtemps que nécessaire pour atteindre les objectifs susmentionnés. Le délai de conservation des données dépend donc de l’objectif pour lequel elles ont été collectées. Si vous désirez que MWC ne conserve plus vos données ou que vous désirez de plus amples informations sur les délais de conservation que nous pratiquons, vous pouvez prendre contact avec nous. Pour savoir comment faire, veuillez consulter le point ‘9À qui vous adresser en cas de question ou de plainte ?’ de cette Déclaration de Confidentialité.</p>
                        <h4>7. Quels sont vos droits et comment les faire appliquer ?</h4>
                        <p>MWC utilise les données personnelles de ses clients, clients potentiels, candidats et visiteurs de site à des fins très précises, et collecte uniquement les données personnelles légalement nécessaires pour atteindre ces objectifs. Nous désirons faire preuve d’une transparence et d’une clarté maximales concernant les activités pour lesquelles vos données personnelles sont collectées, utilisées et protégées. Par conséquent, MWC a élaboré une politique afin que vous puissiez exercer vos droits en ce qui concerne les données personnelles que vous nous avez confiées. Conformément à la législation en vigueur sur la vie privée, vous disposez de différents droits.</p>
                        <h5>7.1 Droit de consultation de vos données.</h5>
                        <p>À tout moment, vous avez le droit de demander à MWC quelles sont les données personnelles vous appartenant en sa possession, à quelle fin nous les utilisons et d’en demander une copie. De cette manière, vous pouvez également demander combien de temps nous conservons vos données, sur quelle base juridique (consentement, contrat, obligation légale, intérêt légitime, intérêt public, intérêt vital) nous traitons vos données, etc. En exerçant ce droit, vous pouvez également vérifier si les données dont nous disposons à votre sujet sont correctes. Pour savoir comment exercer ce droit, veuillez consulter le point ‘9À qui vous adresser en cas de question ou de plainte ?’ de cette Déclaration de Confidentialité. Si vous possédez un compte MyMedia, Netsync ou un compte sur notre site, vous y trouverez un aperçu des données que nous possédons à votre sujet.</p>
                        <h4>8. Droit d’améliorer vos données.</h4>
                        <p>Si vous remarquez que les données personnelles que nous possédons sont incorrectes ou erronées, vous pouvez les faire corriger ou compléter. Pour ce
                            faire, vous pouvez prendre contact par e-mail avec nous : info@mywebcreation.be</p>
                        <h5>8.1 Droit de faire supprimer vos données.</h5>
                        <p>Vous avez le droit de demander à MWC de supprimer les données personnelles qu’elle détient à votre sujet. Attention, il ne s’agit pas d’un droit absolu, c’est le RGPD qui détermine les conditions dans lesquelles ce droit peut être exercé. Nous déciderons si l’une des conditions est remplie. Si c’est le cas, vos données personnelles seront supprimées. Si vous désirez à nouveau faire appel à nos services, vous devrez nous partager une nouvelle fois certaines de ces informations.
                            Pour savoir comment exercer ce droit, veuillez consulter le point ‘9À qui vous adresser en cas de question ou de plainte ?’ de cette Déclaration de Confidentialité.</p>
                        <h5>8.2 Droit de demander un traitement partiel de vos données.</h5>
                        <p>En demandant le traitement limité de vos données personnelles, MWC a la possibilité de garder une trace des données, mais leur utilisation en est limitée. Ce droit ne peut être appliqué que dans certains cas limités. Si MWC souhaite continuer à faire autre chose avec vos données que de les conserver, cela ne sera possible que dans des cas limités (par exemple en vous demandant à nouveau votre autorisation pour le traitement de vos données).</p>
                        <p>Pour savoir comment exercer ce droit, veuillez consulter le point ‘9À qui vous adresser en cas de question ou de plainte ?’ de cette Déclaration de Confidentialité.</p>
                        <h5>8.3 Droit d’opposition au traitement de vos données.</h5>
                        <p>Vous avez le droit de vous opposer au traitement de vos données lorsque ce traitement est fondé sur un intérêt public ou sur l’intérêt légitime de MWC. Le chapitre ‘4. Quelles sont les données que nous collectons de votre part et à quelle fin ?’ vous renseigne sur les activités pour lesquelles MWC dispose d’un intérêt légitime ou général. Si vous invoquez ce droit, MWC examinera si ses motifs légitimes de traitement l’emportent sur vos intérêts, droits et libertés. Si ce n’est pas le cas, MWC ne traitera plus vos données à cette fin.</p>
                        <p>Vous pouvez également vous opposer au traitement de vos données personnelles à des fins de marketing direct. Si vous invoquez ce droit, MWC ne traitera plus vos données à des fins de marketing.</p>

                        <p>Pour savoir comment exercer ce droit, veuillez consulter le point ‘9À qui vous adresser en cas de question ou de plainte ?’ de cette Déclaration de Confidentialité.</p>
                        <h5>8.4 Droit de révocation de votre consentement.</h5>
                        <p>Comme mentionné ci-dessus, vous pouvez révoquer votre consentement à tout moment pour tous les traitements pour lesquels MWC nécessite votre consentement. Veuillez toutefois noter que la révocation de votre consentement n’affecte pas ou ne porte pas préjudice aux opérations de traitement effectuées par MWC lorsque votre consentement n’a pas encore été révoqué. Il existe plusieurs façons de révoquer votre consentement :
                        Vous pouvez remplir le formulaire de contact de notre site http://www.mywebcreation.be/contact. Vous pouvez également utiliser le formulaire de contact pour vous désabonner des newsletters et autres informations personnalisées.
                            Veuillez garder à l’esprit qu’un certain délai est nécessaire pour traiter votre demande et que, dans l’intervalle, il est possible que vous receviez les informations une dernière fois. Ce temps de traitement sera réduit au minimum.</p>
                        <h4>9. À qui vous adresser en cas de question ou de plainte ?</h4>
                        <p>Comme indiqué précédemment dans la déclaration de vos droits, vous pouvez exercer vos droits en remplissant un formulaire de contact présent sur notre site web. Vous pouvez également envoyer un e-mail à info@mywebcreation.be avec votre question ou votre plainte. Nous vous demandons de partager certaines de vos informations et de nous indiquer le droit que vous souhaitez exercer, ainsi que la question ou la plainte que vous voulez nous soumettre par rapport au traitement de vos données personnelles.</p>
                        <p>Nous vous demandons vos données personnelles afin de pouvoir vous identifier de manière unique dans nos systèmes et surtout, afin de ne pas partager de données personnelles avec des personnes qui prétendent être quelqu’un d’autre. Nous vous demanderons les informations suivantes : nom et prénom, adresse, entreprise, numéro de TVA et numéro d’entreprise (si vous faites appel aux services de MWC avec votre société), numéro de téléphone, adresse e-mail, le droit que vous désirez exercer et des informations complémentaires relatives à votre question ou plainte. Dès que nous aurons reçu votre demande, nous vous enverrons un e-mail de confirmation vous
                            indiquant qu’elle est en cours de traitement. Vous recevrez une réponse finale à votre demande dans le mois qui suit la réception.</p>
                        <p>Nous ferons le maximum pour répondre à votre question ou résoudre votre problème aussi efficacement que possible. Si vous n’êtes, malgré tout, pas satisfait(e) de la manière dont nous traitons vos données personnelles, vous trouverez davantage d’informations sur les étapes à entreprendre sur le site de l’Autorité de Protection des Données.</p>
                        <h4>10. Droit applicable.</h4>
                        <p>La présente Déclaration de confidentialité est régie par le droit belge. Tous les litiges découlant de la présente Déclaration de confidentialité ou en rapport avec celle-ci seront exclusivement soumis aux tribunaux compétents de Nivelles.</p>
                        <h4>11. Modifications de la présente Déclaration de confidentialité.</h4>
                        <p>MWC se réserve le droit d’apporter des modifications à la présente Déclaration de confidentialité. Toute modification sera publiée sur cette page. Nous vous recommandons de consulter régulièrement la présente Déclaration de confidentialité afin d’être toujours au courant de la dernière version. MWC coopère avec d’autres partenaires pour divers services. MWC n’est pas responsable des politiques de confidentialité de ces partenaires et n’est pas responsable du contenu de leurs Déclarations de confidentialité. Nous vous conseillons donc de consulter les déclarations de confidentialité de ces partenaires pour plus d’informations.</p>

                    </div>
                </div>
            </div>
        </div>

        <div id="cookies" class="ex-basic-1 pt-5 pb-5" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">

                        <h3>Modalités relatives aux cookies</h3>

                        <p class="modified-date"><strong>Dernière modification effectuée le: 25/10/2021</strong></p>

                        <p>Ce site Web utilise des cookies.</p>
                        <p>Les cookies nous permettent de personnaliser le contenu, d'offrir des fonctionnalités relatives aux médias sociaux et d'analyser notre trafic. Vous consentez à nos cookies si vous continuez à utiliser notre site Web.</p>
                        <p>Les cookies sont des petits fichiers textes qui peuvent être utilisés par les sites Web pour rendre l'expérience utilisateur plus efficace.</p>
                        <p>La loi stipule que nous ne pouvons stocker des cookies sur votre appareil que s’ils sont strictement nécessaires au fonctionnement de ce site. Pour tous les autres types de cookies, nous avons besoin de votre permission.</p>

                    </div>
                </div>
            </div>
        </div>


{% endblock %}

